<div class="ui two column grid">

    <div class="column"  ng-controller="RegistrationController">
        <form name="MyForm" class="ui reply form" ng-submit="add(newUser)">
            <div class="ui fluid form segment">
                <div class="ui {{message.color}} inverted segment">
                    <div class="header"><h2>{{message.header}}</h2></div>
                    <p><h4>{{message.body}}</h4></p>
                </div>
                <h3 class="ui header">Registration</h3>
                <div class="field">
                    <label>Username</label>
                    <input type="text" name="username" placeholder="Username" ng-model="newUser.name" ng-minlength="3" ng-maxlength="10" required>
                      <div class="ui label error" ng-show="MyForm.username.$error.minlength || MyForm.username.$error.maxlength">
                            Name must be at least 3 and maximum 10 symbols!
                      </div>
                </div>
                <div class="field">
                    <label>Password</label>
                    <input type="password" name="userPass" placeholder="Password" ng-model="newUser.password" ng-minlength="4" ng-maxlength="10" required>
                    <div class="ui label error" ng-show="MyForm.userPass.$error.minlength || MyForm.userPass.$error.maxlength">
                        Password must be at least 4 and maximum 10 symbols!
                    </div>
                </div>
                <button class="ui blue submit button">Add</button>
            </div>
        </form>
    </div>

    <div class="column" ng-controller="LoginController">
        <div class="ui error form segment">
            <div class="ui {{message.color}} inverted segment">
                <div class="header"><h2>{{message.header}}</h2></div>
                <p><h4>{{message.body}}</h4></p>
            </div>
            <form name="loginForm" class="ui fluid form segment" ng-submit="login(user)">
                <h3 class="ui header">Log-in</h3>
                <div class="field">
                    <label>Username</label>
                    <input type="text" placeholder="Username" name="username" ng-model="user.name" required>
                </div>
                <div class="field">
                    <label>Password</label>
                    <input type="password" placeholder="Password" name="userPass" ng-model="user.password" required>
                </div>
                <button class="ui blue submit button">Submit</button>
            </form>
        </div>
    </div>

</div>