<div class="column" ng-controller="UsersController">
    <div class="ui blue inverted segment">
        <div class="header"><h2>{{message}}</h2></div>
    </div>
    <button class="ui green submit button" ng-click="logout()">LogOut</button>
    <table class="ui table segment">
        <thead>
        <tr>
            <th>Name</th>
            <th>Password</th>
            <th>Remove</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in users">
            <td>{{ user.name }}</td>
            <td>{{ user.password }}</td>
            <td><a href="#" ng-click='remove(user)'>Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>
